/* Fonte Montserrat para headers */
h1, h2, .montserrat {
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Fonte Roboto para formulário e outros textos */
  body, form, h2, label, input, select, button {
    font-family: 'Roboto', sans-serif; 
  }
  
  /* Estilos para o cabeçalho */
  .navbar {
    background-color: #003366;
  }
  
  .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
  }
  
  .navbar-brand img {
    height: 40px;
    margin-right: 10px;
  }
  
  .navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
  }
  
  .header-btn, .header-login-btn {
    height: 40px; /* Ajuste a altura conforme necessário */
    line-height: 40px; /* Deve ser igual à altura para centralização vertical */
    display: inline-block;
    padding: 0 20px; /* Remover o padding vertical e manter apenas o horizontal */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center; /* Certifica-se de que o texto esteja centralizado horizontalmente */
    vertical-align: middle;
  }
  
  .header-btn {
    background-color: #FF7F0E;
    color: white;
    border: none;
  }
  
  .header-btn:hover {
    background-color: #e06b00;
  }
  
  .header-login-btn {
    background-color: #007bff !important;
    color: white !important;
    border: none !important;
    transition: background-color 0.3s ease !important;
  }
  
  .header-login-btn:hover {
    background-color: #0056b3 !important;
  }
  
  .notification-icon {
    position: relative;
  }
  
  .notification-icon img {
    width: 24px;
    height: 24px;
  }
  
  .notification-icon .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
  }
  
  .notification-icon .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .notification-icon .dropdown-content .notification-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .notification-icon .dropdown-content .notification-item:last-child {
    border-bottom: none;
  }
  
  .notification-icon .dropdown-content .notification-item p {
    margin: 0;
  }
  
  .notification-icon .dropdown-content .notification-item .mark-as-read {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 5px;
  }
  
  .notification-icon .dropdown-content .notification-item .mark-as-read:hover {
    background-color: #0056b3;
  }
  
  .perfil-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }